<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://internet.frontier.com/?lp=6108" />
    <add key="browser" value="Chrome" />
    <add key="maximize-window" value="true" />
    <!-- Viewport is only used if maximize-window is false. Use format "width,height". -->
    <!-- iPhone 7 -->
    <add key="viewport-size" value="375,600" />
    <!-- Galaxy S8 -->
    <!--<add key="viewport-size" value="360,700" />-->
  </appSettings>
</configuration>